.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #fff
}
.style1 {
  border-left: .26666666666666666vw solid #707070;
  border-right: .26666666666666666vw solid #707070;
  border-top: .26666666666666666vw solid #707070;
  border-bottom: .26666666666666666vw solid #707070;
  margin-left: 18.666666666666668vw;
  margin-top: 9.35960591133005vh;
  width: 34.4vw;
  height: 36.8vw;
  z-index: 0
}
.style2 {
  border-left: .26666666666666666vw solid red;
  border-right: .26666666666666666vw solid red;
  border-top: .26666666666666666vw solid red;
  border-bottom: .26666666666666666vw solid red;
  margin-left: 36vw;
  margin-top: 19.334975369458128vh;
  width: 41.86666666666667vw;
  height: 60vw;
  z-index: 1
}
.breakpoint-0 {
  display: block
}