.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #f9f9f9
}
.style1 {
  display: grid;
  margin-left: 13.616398243045388vw;
  margin-top: 26.786286446651715vh;
  width: 26.35431918008785vw;
  grid-gap: 2.9282576866764276vw
}
.style2 {
  display: flex;
  z-index: 1
}
.maingrid0container0col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 25.62225475841874vw;
  flex-direction: column
}
.style3,
.style4 {
  width: 100%;
  height: 13.177159590043924vw
}
.style4 {
  object-fit: cover;
  margin-top: 0;
  z-index: 3;
  border-radius: .43923865300146414vw .43923865300146414vw 0 0
}
.style3 {
  background-color: #fff;
  position: relative;
  display: flex;
  margin-top: -.7320644216691069vw;
  z-index: 2;
  flex-direction: column;
  border-radius: 0 0 .43923865300146414vw .43923865300146414vw
}
.style5 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.171303074670571vw;
  font-weight: 700;
  margin-left: 2.9282576866764276vw;
  margin-top: 3.6603221083455346vw;
  width: 77.77777777777779%;
  height: 1.171303074670571vw;
  z-index: 4
}
.maingrid0container0col0container1row2,
.style6 {
  margin-left: 2.9282576866764276vw;
  margin-top: .7320644216691069vw
}
.style6 {
  color: #a6adb4;
  font-family: acumin-pro-1,serif;
  font-size: .9516837481698389vw;
  line-height: 1.6837481698389458vw;
  z-index: 5;
  width: 77.77777777777779%;
  height: 2.781844802342606vw
}
.maingrid0container0col0container1row2 {
  display: flex;
  width: 19.166666666666668%;
  height: 1.171303074670571vw
}
.style8,
.style9 {
  height: 1.171303074670571vw
}
.style8 {
  display: flex;
  margin-left: 0;
  width: 23.18840579710145%;
  z-index: 7
}
.style9 {
  width: 100%;
  z-index: 8
}
.style7 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9516837481698389vw;
  line-height: 1.9033674963396778vw;
  margin-left: .7320644216691069vw;
  z-index: 6
}
.breakpoint-0 {
  display: block
}